<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 

    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" type="text/css" media="screen" />
    <link href="assets/prettify/prettify.css" type="text/css" rel="stylesheet" />
    <style type="text/css">
        body {
            padding-top: 40px;
            padding-bottom: 40px;
        } 
    </style>
    <title>{{ page.title }}</title>
</head>
<body onload="prettyPrint()">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="http://jdewit.github.com/GeneratorBundle">Avro Generator Bundle</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="index.html">Overview</a></li>
              <li><a href="installation.html">Installation</a></li>
              <li><a href="configuration.html">Configuration</a></li>
              <li><a href="templating.html">Templating</a></li>
              <li><a href="includedTemplates.html">Included Templates</a></li>
              <li><a href="generating.html">Generating</a></li>
              <li><a href="todo.html">Todo</a></li>
              <li><a href="http://github.com/jdewit/GeneratorBundle">Source</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container">
        {{ content }}
    </div> <!-- /container -->
    <hr />

    <footer class="container">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>Created by <a href="http://twitter.com/joris_dewit" target="_blank">Joris de Wit</a></p> 
        <p>Code licensed under the <a href="http://www.opensource.org/licenses/MIT" target="_blank">MIT</a></p>
    </footer>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="assets/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="assets/prettify/prettify.js"></script>
    <script type="text/javascript" src="assets/prettify/prettify.js"></script>
</body>
</html>
